# --- Python & Bytecode ---
__pycache__/
*.py[cod]
*$py.class
*.so

# --- Ambientes Virtuais (Várias convenções) ---
env/
venv/
.venv/
.env/

# --- Variáveis de Ambiente e Segredos ---
# Bloqueia qualquer arquivo que comece com .env (ex: .env.local, .env.production)
.env*
# ! LIBERA especificamente o arquivo de exemplo para subir no GitHub
!.env.example

# --- Flask ---
instance/
.webassets-cache

# --- Banco de Dados (Arquivos locais) ---
*.db
*.sqlite3
*.sqlite

# --- IDEs e Editores ---
.vscode/
.idea/
*.swp
*.swo

# --- Logs e Monitoramento ---
*.log
logs/

# --- Arquivos de Sistema Operacional (Junk files) ---
.DS_Store
Thumbs.db

# --- Distribuição e Builds (Caso gere executáveis futuramente) ---
build/
dist/
*.egg-info/

# --- Testes (Caso adicione Pytest no futuro) ---
.pytest_cache/
.coverage
htmlcov/