* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;

}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #f2efeb;
}

#logo {
  max-width: 7vh;
}

header {
  background-color: #e3ebf2;
  height: 12vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3vh
}

.login-btn {
  padding: 10px;
  background-color: #1f73be;
  border-radius: 5px;
  box-shadow: 1px 1px 4px black;
}

footer {
  position: fixed;
  height: 10vh;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #e3ebf2;
  color: white;
  text-align: center;
  padding: 10px 0;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3vh

}

footer div {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 5px;
  padding: 3vh
}

footer div a {
  padding: 5px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 12vh - 10vh);
  padding: 20px; /* opcional */
  box-sizing: border-box;
}


.login-form {
  width: 400px;
  display: flex;
  flex-direction: column;
  background-color: #e3ebf2;
  padding: 30px;
}

.login-form form {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 10px;
}

form * {
  margin: 10px;
}

form input {
  padding: 10px;
}

form button {
  padding: 10px;
  border-radius: 8px;
  border: none;
  background-color: #1f73be;
}

form button:hover {
  cursor: pointer;
}

.flashes {
  padding: 10px;
  text-align: center;
  color: #5c0000;
}