<html lang="PT-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Manager Login</title>
    <link rel="icon" href="../static/icon.png" type="image/png">
    <link rel="stylesheet" href="./static/style.css">
</head>
<body>
    
</body>
</html>

<body>
    <header>
        <div class="h-left">
            <a href="{{ url_for('main.home') }}"><img src="./static/icon.png" id="logo"/></a>
            <h2>Task Manager</h2>
        </div>
        
        <a href="{{ url_for('auth.login') }}" class="login-btn"> Login | Registro</a>
    </header>

    <main>

            

        <!-- Modal do login, esse está sim sendo usado -->
        <div class="home-login login-form">
        <h1>Task Manager</h1>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="flashes">
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
            </div>
            {% endif %}
            {% endwith %}
        <form method="POST" action="/login">
        <label for="email">E-mail</label>
          <input type="email" name="email" placeholder="Usuário" required>
          <label for="password">Senha</label>
          <input type="password" name="password" placeholder="Senha" required>
          <button name ="btn-login" type="submit" class="frm-login-btn">Entrar</button>
          <button name="btn-registrar" type="submit" class="frm-register-btn">Registrar</button>
        </form>
        </div>
    </main>
    <footer>
        <div class="f-left">
            <h1>Task Manager by:</h1>
            <a class="f-links links" href="https://github.com/MaiconMaciel" target="_blank">Maicon Maciel</a>
        </div>
        
        <div class="f-right">
            <a class="f-links links" href="https://www.linkedin.com/in/maiconmaciel/" target="_blank">Linkedin</a>
            <a class="f-links links" href="https://github.com/MaiconMaciel" target="_blank"">Github</a>
            <a class="f-links links" href="mailto:maicon.costa1331@gmail.com">Email</a>
        </div>
    </footer>
</body>
</html>
<script>
document.getElementById('logout-btn').addEventListener('click', function() {
    window.location.href = "{{ url_for('auth.logout') }}";
});
</script>